{% extends "base.html" %}
{% load i18n %}

{% block breadcrumb_menu %}
{% endblock %}

{% block main %}
{#{   <body class="indexBody" background="/static/img/background.jpg" ></body>}#}
    <body class="indexBody">
    <div class="row row-centered ">
    <div data-align="center" data-disabled="false" data-margin="0" style="min-height: 21px;" class="col-md-2 col-centered s211label centering " data-state="mobile" data-prev-text="Shop Classic Suits Now" data-prev-min-width="173" data-prev-width="229"><a href="/product/classic-suit" target="_self" style="text-align:center;" id="comp-ikeopjzv3link" class="g-transparent-a s21link" "><span id="comp-ikeopjzv3label" class="s21label"style="line-height: 40px;">Shop Classic Suits Now</span></a></div>
    </div>
    </body>
{% endblock %}
{% block cart %}
{% endblock %}