{% extends "base.html" %}


{% block main %}
    <div class="row row-centered">
        <div class="col-centered"><h3>Please enter your measurements:</h3></div>
    </div>
    <div class="row row-centered">
        <div class="col-centered">

            <form id="measureForm" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}

                <a class="btn btn-default" href="{{request.META.HTTP_REFERER}}">Back</a>

                <input type="submit" class='btn btn-default' value="Next" />
            </form>
        </div>
    </div>
{% endblock %}
