{% extends "base.html" %}

{% block meta_title %}{{title}}{% endblock %}

{% block main %}
<div class="col-sm-6 col-sm-offset-3">
    {% if instance.image %}
    <img src="{{ instance.image.url}}" class="img-responsive">
    {% endif %}
<h1>{{ title }} <small>{{ instance.description}}</small></h1>
{{ instance.content|linebreaks }} <br/>
{% if isTailor %}
    <p><a href='{{ instance.get_tailor_edit_url }}' class="btn btn-primary" role="button">Edit Profile</a></p>
    <p><a href='{{ instance.get_tailor_inventory_url }}' class="btn btn-primary" role="button">Inventory</a></p>
    <p><a href='{{ instance.get_tailor_order_url }}' class="btn btn-primary" role="button">Orders</a></p>
{%  endif  %}
    <p><a href='/tailors' class="btn btn-primary" role="button">Go Back</a></p>

</div>
{% endblock %}